<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869131874447-aqf8a7qnpna8qd2km4vsgvlrrijtcdv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869131874447-aqf8a7qnpna8qd2km4vsgvlrrijtcdv5</string>
	<key>API_KEY</key>
	<string>AIzaSyCZZpxaUBCm5C_2oZ7C4jdDg5Fnm9egmdM</string>
	<key>GCM_SENDER_ID</key>
	<string>869131874447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-9ed4b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-9ed4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869131874447:ios:a57ac24174b73c2cf700fa</string>
</dict>
</plist>